.charts-key-item {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "keyIcon keyValue"
    "keyIcon keyLabel";
    background-color: #FBFBFB;   
    padding: 0.5em 0.3em 0.5em 0.3em;
    border-radius: 20px;
}

.charts-key-item-icon {
    grid-area: keyIcon;
    padding: 0 0.5em 0 0.5em;
    display: flex;
    align-items: center;

}

.charts-key-item-icon svg {
    opacity: 0.8;
}

.charts-key-item-value {
    grid-area: keyValue;
    align-self: flex-end;
    justify-self: start;
    justify-items: baseline;
    font-weight: bold;
    font-size: 1.6em;
}

.charts-key-item-label {
    grid-area: keyLabel;
    align-items: top;
    justify-items: left;
    font-weight: 200;
    font-size: 1.2em;
}

.chartsKey {
    grid-area: key;
    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 8%;
}