.bar-chart-calories {
    fill: var(--clr-primary);
}

.bar-chart-weight {
    fill: black;
}

.barChartTitle {
    padding: 1rem;
    font-weight: bold;
}

.chartsBar {
    grid-area: bar;
    display: grid;
    grid-template-rows: 0.3fr 1fr;
}