.recharts-polar-angle-axis-tick-value {
	font-size: 1em;

	font-weight: bold;
	fill: white;
}

.chartsRadar {
	grid-area: radar;
	background-color: black;
	color: white;
	padding: 0;
	display: flex;
	justify-items: center;
}