.charts-bar {
	grid-area: bar;
	width: 100%;
	height: 100%;
}

.charts-line {
	grid-area: line;
	background-color: green;
}

.charts-radar {
	grid-area: radar;
	background-color: purple;
}

.charts-radial {
	grid-area: radial;
	background-color: orange;
}

.charts-keys {
	grid-area: key;
	background-color: brown;
}
