.charts-bar {
	grid-area: bar;
	outline: 1px solid var(--clr-primary)
}

.charts-line {
	grid-area: line;
	background-color: green;
}

.charts-radar {
	grid-area: radar;
	background-color: black;
	color: white;
}

.charts-radial {
	grid-area: radial;
}

.charts-keys {
	grid-area: key;
}
