.side-bar {
    display: flex;
    flex-direction: column;
    float: left;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    text-align: center;
    background-color: black;
    color: white;
    list-style: none;
    padding: 0 0.5rem;
    justify-content: center;
}

.activities-list-items {
    display: block;
    text-align: center;
    padding: 1rem 0;
}