.sideBar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    z-index: -1;
    text-align: center;
    background-color: black;
    color: white;
    list-style: none;
    padding: 0 1rem;
    justify-content: center;
    overflow: clip;
    font-size: 0.3rem;
}

.activities-list-items {
    display: block;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
