.dashboard-container {
    grid-area: app;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.05fr repeat(2, 1fr);
    grid-template-areas: 
        "header-app header-app header-app header-app"
        "bar bar bar key"
        "line radar radial key";
    padding: 0.8rem 0.8rem 1rem 1rem;
    gap: 0.5rem;
    height: 95%;
    overflow: hidden;
}

.dashboard-header {
    grid-area: header-app;
    font-weight: bold;
    /*#:Resize font*/
    font-size: 1rem;
}

.dashboard-header h1 span {
    color: red;
    margin-left: 0.6rem;
}

.dashboard-header p {
    margin: 0;
}
