.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.02fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
    "header header"
    "sidebar app";
}

.app-content {
  overflow: hidden;
}